*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    box-sizing: border-box;
}
.hero{	
        display:block;
        width:100%;
        height:100vh;
        background-image: url(http://graphicburger.com/preview/html-templates/outline/images/bg_2.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment:fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size:cover;

}
nav
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: top 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo
{
color:navy;
font-size: 40px;
letter-spacing: 1px;
cursor: pointer;
}
span
{
color:rgb(123, 241, 241);
}
nav ul li
{
    list-style-type:circle;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a
{
    color:antiquewhite;
    text-decoration: dotted;
    font-weight:bolder;
    text-transform: capitalize;
}
nav ul li a:hover
{
color:crimson;
transition: .3s;
}
.button
{
   background-color:lightblue;
   color:midnightblue;
   text-decoration:none;
   border: 2px solid transparent;
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 30px;
   transition: .3s;
}
.button:hover
{
    transform: scale(1.3);
}

.content
{
position:absolute;
top: 50%;
left:8%;
transform: translateY(-50%);
}
h1
{
color:gold;
margin: 10px 0px 10px;
font-size: 60px;
}
h2
{
color:rgb(128, 255, 0);
letter-spacing: 2px;
font-size: 40px;
}
h3
{
color:indigo;
margin-bottom: 10px;
font-size: 35px;
}
.About
{
width: 100%;
padding: 100px 0px;
background-color:darkgreen;

}
.About img
{
    height: auto;
    width: 400px;
}
.About-text
{
    width: 550px;
}
.main
{
width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}

.About-text h2
{
color:chocolate;
font-size: 75px;
text-transform: capitalize;
margin-bottom: 20px;
}
.About-text h4
{
color:navy;
letter-spacing: 2px;
font-size: 22px;
margin-bottom: 25px;
text-transform: capitalize;
}
.About-text p
{
color:black;
letter-spacing: 1px;
line-height: 28px;
font-size: 22px;
margin-bottom: 25px;
text-transform: capitalize;
}
button
{
    background-color:#f9004D ;
    color: white;
    text-decoration:none;
    border: 2px solid transparent;
    font-weight:bold ;
    padding: 13px;
    border-radius:30px ;
    transition: .3s;
}
button:hover
{
    background-color:#f9004D ;
    border:5px solid black;
    cursor: pointer;
}
.Education
{
    background: darkgreen;
    width: 100%;
    padding: 100px;
}
.title h3
{
color:khaki;
font-size: 60px;
width: 1130px;
margin: 30px auto;
text-align: center;
}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.card
{
    height: 335px;
    width: 325px;
    padding: 20px 35px;
    background:tan;
    border-radius: 20px;
    margin: 15px;
    position:relative;
    overflow: hidden;
    text-align: center;
}
.card:hover
{
        transform: scale(1.2);
    
}
h4
{
    color:rgba(41, 5, 99, 0.849);
    font-size: 23px;
    margin-bottom: 15px;
}
.pra
{
    color:black;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
}

.Skills
{
    background: darkgreen;
    width: 100%;
    padding: 100px;
}
.title1 h3
{
color:chartreuse;
font-size: 60px;
width: 1130px;
margin: 30px auto;
text-align: center;
}
.box1
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.card1
{
    height: 195px;
    width: 225px;
    padding: 20px 35px;
    background:teal;
    border-radius: 20px;
    margin: 15px;
    position:relative;
    overflow: hidden;
    text-align: center;
}
.card1:hover
{
        transform: scale(1.4);
    
}
.Skills h4
{
    color:darkred;
    font-size: 23px;
    margin-bottom: 15px;
}
.par1
{
    color:#f9004D;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}


.Projects
{
    background: darkgreen;
    width: 100%;
    padding: 100px;
}
.title2 h3
{
color:cyan;
font-size: 60px;
width: 1130px;
margin: 30px auto;
text-align: center;
}
.box2
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.card2
{
    height: 225px;
    width: 295px;
    padding: 20px 35px;
    background:navajowhite;
    border-radius: 20px;
    margin: 15px;
    position:relative;
    overflow: hidden;
    text-align: center;
}
.card2:hover:hover
{
        transform: scale(1.3);
    
}
.Projects h4
{
    color:midnightblue;
    font-size: 23px;
    margin-bottom: 15px;
}
.par2
{
    color:#fcfc;
    font-size: 1600px;
    line-height: 200px;
    margin-bottom: 25px;
}
.contact-me
{
    width:100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p
{
    color:white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button6
{
    background-color:#f9004D ;
    color: white;
    text-decoration:none;
    border: 2px solid transparent;
    font-weight:bold ;
    padding: 13px;
    border-radius:30px ;
    transition: .3s;
}
.contact-me .button6:hover
{
    background-color:#f9004D ;
    border:5px solid white;
    cursor: pointer;
}
footer
{
    position: relative;
    width: 100%;
    height: 400px;
    background:grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1)
{
    font-size: 30px;
    color:blue;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2)
{
    color:white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social
{
    display: flex;

}
.social a
{
width:45px;
height:45px;
display:flex;
align-items: center;
justify-content: center;
background:#f9004D;
border-radius: 50%;
margin: 22px 10px;
color:white;
text-decoration: none;
font-size: 20px;
}
.social a:hover
{
    transform: scale(1.3);
    transition: .3s;
}
.end
{
position: absolute;
color:darkred;
bottom: 35px;
font-size: 14px;
}